@page "/"
@using BlazorLibrary;
@addTagHelper BlazorLibrary.Component1, BlazorLibrary
@inject IJSRuntime JSRuntime

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
